
blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect { 
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}



@media only screen and (max-device-width: 530px) {

.navimg {
 	height: 65px !important;
 	width:72px  !important;
 }
 
.img-responsive{
	height: 200px !important;
} 
img {
 	width: 100% !important;
 }
 
 
 
    }


.btn-primary, .btn-primary:hover {
    background-image: -webkit-linear-gradient(left,#8b62ff,#3b1bff);
    background-image: -o-linear-gradient(left,#8b62ff 0,#3b1bff 100%);
    background-image: linear-gradient(90deg,#e62273 0,#f70f85);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF8B62FF",endColorstr="#FF3B1BFF",GradientType=1);
}
